    @import 'bootstrap-sprockets';
    @import 'bootstrap';

.nav-format {
  padding-top: 20px;
  margin-right: 10%;
  text-decoration: none;
  display: inline;
  float: left;
}

ul {
  list-style-type: none;
  display: inline;
}
