<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

    <% @images.each do |image| %>
        <%= image.caption %>
        <%= image_tag(image.gram(:medium)) %>
        <br>
        <br>
    <% end %>


<%= link_to 'New Image', new_user_image_path %>
